div.qodef-sticky-header.header-appear div.qodef-vertical-align-containers {
    background-color: #111;
}

div.opened-panel#panel {
    visibility: hidden;
}

@media all {
    .qodef-main-menu ul li a {
        color: #fff;
    }
}

div#qodef-home-main-slider {
    margin-bottom: -8%;
}

.carousel-indicators {
    bottom: 15%;
}

article img {
    min-height: 290px !important;
    max-height: 290px !important;
}